<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>community</title>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" href="/css/community.css">


</head>

<body>
<!--导航条-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">community</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation.html">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>

        <!--        //TODO 这里它没有居右-->
        <ul class="navbar-nav mr-auto ">
            <li class="nav-item" th:if="${session.user==null}">
                <a class="nav-link"
                   href="https://github.com/login/oauth/authorize?client_id=c05a2ccc4a4995c1b2e2&redirect_uri=http://localhost:8080/callback&scope=user&state=1">登陆</a>
            </li>
            <li class="nav-item dropdown row float-right" th:if="${session.user!=null}">
                <span><a class="nav-link" href="/publish" >提问</a></span>
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    我
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/profile/questions">我的问题</a>
                    <!--            分割线        <div class="dropdown-divider"></div>-->
                    <a class="dropdown-item" href="/logout">退出登陆</a>
                </div>
            </li>
        </ul>

    </div>
</nav>

<!--<div th:fragment="nav">-->
<!--    <nav class="navbar navbar-default">-->
<!--        <div class="container-fluid">-->
<!--            <div class="navbar-header">-->
<!--                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"-->
<!--                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">-->
<!--                    <span class="sr-only">community</span>-->
<!--                </button>-->
<!--                <a class="navbar-brand" href="/">community</a>-->
<!--            </div>-->

<!--            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">-->
<!--                <form class="navbar-form navbar-left" action="/" method="get">-->
<!--                    <div class="form-group">-->
<!--                        <input type="text" class="form-control" name="search" placeholder="搜索问题">-->
<!--                    </div>-->
<!--                    <button type="submit" class="btn btn-default">搜索</button>-->
<!--                </form>-->

<!--                <ul class="nav navbar-nav navbar-right">-->
<!--                    <li th:if="${session.user != null}">-->
<!--                        <a href="/publish">提问</a>-->
<!--                    </li>-->
<!--                    <li><a href="/profile/replies">通知 <span class="badge" th:text="${session.unreadCount}"></span></a>-->
<!--                    </li>-->
<!--                    <li class="dropdown" th:if="${session.user != null}">-->
<!--                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"-->
<!--                           aria-expanded="false">-->
<!--                            <span th:text="${session.user.getName()}"></span>-->
<!--                            <span class="caret"></span>-->
<!--                        </a>-->
<!--                        <ul class="dropdown-menu">-->
<!--                            <li><a href="/profile/questions">我的问题</a></li>-->
<!--                            <li><a href="/logout">退出登录</a></li>-->
<!--                        </ul>-->
<!--                    </li>-->
<!--                    <li th:if="${session.user == null}">-->
<!--                        <a class="nav-link" href="https://github.com/login/oauth/authorize?client_id=c05a2ccc4a4995c1b2e2&redirect_uri=http://localhost:8080/callback&scope=user&state=1">登陆</a>-->
<!--                    </li>-->

<!--                </ul>-->
<!--            </div>-->
<!--        </div>-->
<!--    </nav>-->
<!--</div>-->

</body>

</html>