<!DOCTYPE html>
<!--suppress ALL-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>community</title>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" href="/css/community.css">


</head>
<body>

<div th:insert="~{navigation :: nav}"></div>

<div class="container-fluid main">
    <div class="row">
        <div class="col-9">
            <h2><span th:text="${sectionName}"></span></h2>
            <hr>
            <!--            我的问题-->
            <div class="media" th:each="question:${pageInfo.getList()}" th:if="${section == 'questions'}">
                <div class="media-left">
                    <a href="#">
                        <img th:src="${question.user.avatarUrl}" alt="" class="media-object rounded-circle">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        <a th:href="@{'/question/'+ ${question.id}}" th:text="${question.title}"></a>
                    </h4>
                    <span class="text-desc">
                        <span th:text="${question.commentCount}"></span> 个回复 • <span
                            th:text="${question.viewCount}"></span> 次浏览 • <span
                            th:text="${#dates.format(question.gmtCreate,'yyyy-MM-dd HH:mm')}"></span> •
                        <a th:href="@{'/publish/'+${question.id}}" class="community-menu"
                           th:if="${session.user != null && session.user.id == question.creator}">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true">编辑</span>
                    </a>
                    </span>
                </div>
            </div>
            <!--                最新回复-->
            <div class="media" th:each="notification : ${pageInfo.getList()}" th:if="${section == 'replies'}">
                <div class="media-body">
                    <p class="media-heading">
                        <span th:text="${notification.notifierName +' ' + notification.typeName + ' '}"></span>
                        <a th:href="@{'/notification/'+ ${notification.id}}"
                           th:text="${notification.outerTitle}">
                        </a>
                        <span class="badge badge-danger" th:if="${notification.status == 0}">未读</span>
                    </p>
                </div>
            </div>

<!--            TODO 分页有bug，没有的话底下不显示0，而是123-->
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item" th:if="${pageInfo.showFirstPage}">
                        <a class="page-link" aria-label="Previous" th:href="@{'/profile/'+${section}(page=1)}">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li th:if="${pageInfo.showPrevious}" class="page-item">
                        <a th:href="@{'/profile/'+${section}(page=${pageInfo.page-1})}" class="page-link">&lt;</a>
                    </li>
                    <li th:each="page:${pageInfo.getPages()}" th:class="${pageInfo.page==page}?'active':''">
                        <a th:href="@{'/profile/'+${section}(page=${page})}" th:text="${page}" class="page-link">
                        </a>
                    </li>

                    <li class="page-item" th:if="${pageInfo.showNext}"><a
                            th:href="@{'/profile/'+${section}(page=${pageInfo.page+1})}"
                            class="page-link">&gt;</a></li>
                    <li class="page-item" th:if="${pageInfo.showEndPage}">
                        <a th:href="@{'/profile/'+${section}(page=${pageInfo.getTotalPage()})}" class="page-link"
                           aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-3">
            <div class="list-group">
                <a href="/profile/questions"
                   th:class="${section=='questions'}?'list-group-item list-group-item-action list-group-item-light active':'list-group-item list-group-item-action list-group-item-light'">我的问题
                        </a>
                <a href="/profile/replies"
                   th:class="${section=='repies'}?'list-group-item list-group-item-action list-group-item-light active':'list-group-item list-group-item-action list-group-item-light'">最新回复<span
                        class="badge badge-light" th:text="${session.unreadCount}">4</span></a>
            </div>
        </div>

    </div>
</div>
<div th:insert="~{footer :: foot}"></div>
</body>
</html>