<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>publish-community</title>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" href="/css/community.css">
    <script src="/js/community.js"></script>
    <script src="/js/editormd.min.js"></script>
    <link rel="stylesheet" href="/css/editormd.min.css" />

    <script src="/js/image-dialog.js"></script>
</head>
<body>
<!--导航条-->
<div th:insert="~{navigation :: nav}"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-9">
            <h2>
                <svg class="bi bi-chevron-right" width="32" height="32" viewBox="0 0 20 20" fill="currentColor"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z"
                          clip-rule="evenodd"/>
                    <span aria-hidden="true"></span>提问
                </svg>
            </h2>
            <hr>
            <form action="/publish" method="post">
                <input type="hidden" th:if="${question}!=null" name="id" th:value="${question.getId()}">
                <input type="hidden" th:if="${question}==null" name="id">
                <div class="form-group" th:if="${question}==null">
                    <label for="title">问题标题（简单扼要）：</label>
                    <input type="text" class="form-control" required id="title" name="title" placeholder="问题标题……">
                </div>
                <div class="form-group" th:if="${question}!=null">
                    <label for="title2">问题标题（简单扼要）：</label>
                    <input type="text" class="form-control" required id="title2" name="title" placeholder="问题标题……"
                           th:value="${question.title}">
                </div>

                <div class="form-group" th:if="${question}==null" id="editor">
                    <label for="description">问题补充（必填，参考右边提示）：</label>
                    <textarea style="display:none;" name="description" id="description" required class="form-control" cols="30"
                              rows="10"></textarea>
                </div>
                <script type="text/javascript">
                    $(function() {
                        var editor = editormd("editor", {
                            width: "100%",
                            height: "350px",
                            delay: 0,
                            watch: false,
                            placeholder: "请输入问题描述",
                            // markdown: "xxxx",     // dynamic set Markdown text
                            path : "/lib/",  // Autoload modules mode, codemirror, marked... dependents libs path
                            imageUpload: true,
                            imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                            imageUploadURL: "/file/upload",
                        });
                    });
                </script>
                <div class="form-group" th:if="${question}!=null">
                    <label for="description2">问题补充（必填，参考右边提示）：</label>
                    <textarea name="description" id="description2" required class="form-control" cols="30" rows="10"
                              th:text="${question.description}"></textarea>
                </div>

<!--                添加标签-->
                <div class="form-group">
                    <label >添加标签:</label>
                    <input type="text" class="form-control" th:if="${question}==null"  name="tag"
                           autocomplete="off"
                           placeholder="输入标签，以，号分隔"
                           onclick="showSelectTag()">
                    <input type="text" class="form-control" th:if="${question}!=null" th:value="${question.tag}"  name="tag"
                           autocomplete="off"
                           placeholder="输入标签，以，号分隔"
                           onclick="showSelectTag()">
                    <div id="select-tag" class="publish-tag-tab">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" th:each="selectCategory,selectCategoryStat: ${tags}"
                                th:class="${selectCategoryStat.first ? 'nav-item active':'nav-item'}">
                                <a class="nav-link" th:href="${'#'+selectCategory.categoryName}" aria-controls="home" role="tab"
                                   data-toggle="tab" th:text="${selectCategory.categoryName}"></a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" th:id="${selectCategory.categoryName}"
                                 th:each="selectCategory: ${tags}"
                                 th:class="${selectCategoryStat.first ? 'active tab-pane container':'tab-pane container'}">
                                <span>
                                    <span th:each="selectTag: ${selectCategory.tags}">
                                    <span class="community-tag" onclick="selectTag(this)"
                                          th:data-tag="${selectTag}"
                                          th:text="${' '+selectTag}">
                                    </span>
                                </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container-fluid main ">
                    <div class="row">
                        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                            <div class="alert alert-danger col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                 th:text="${error}"
                                 th:if="${error != null}">
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                            <button type="submit" class="btn btn-success btn-publish ">
                                发布
                            </button>
                        </div>
                    </div>
                </div>

            </form>
        </div>
        <div class="col-3">
            <h3>问题发起指南</h3>
            <li>问题标题：用精简语言描述问题，不超过25字</li>
            <li>问题补充：详细内容，并提供相关资料</li>
            <li>选择标签：用逗号分隔，每个标签不超过10个字</li>
        </div>

    </div>
</div>
<div th:insert="~{footer :: foot}"></div>
</body>
</html>