<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>publish-community</title>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<!--导航条-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">my社区</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>

        <!--        //TODO 这里它没有居右-->
        <ul class="navbar-nav mr-auto float-right">
            <li class="nav-item" th:if="${session.user==null}">
                <a class="nav-link"
                   href="https://github.com/login/oauth/authorize?client_id=c05a2ccc4a4995c1b2e2&redirect_uri=http://localhost:8080/callback&scope=user&state=1">登陆</a>
            </li>
            <li class="nav-item dropdown" th:if="${session.user!=null}">
                <span><a class="nav-link" href="/publish" th:href="@{/publish}">发问</a></span>
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    我
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">消息中心</a>
                    <a class="dropdown-item" href="#">个人资料</a>
                    <!--            分割线        <div class="dropdown-divider"></div>-->
                    <a class="dropdown-item" href="#">退出登录</a>
                </div>
            </li>
        </ul>

    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-8" >
            <h2><span class="glyhicon glyohicon-plus" aria-hidden="true"></span>发起</h2>
            <hr>

            <form action="">
                <div class="form-group">
                    <label for="title">问题标题（简单扼要）：</label>
                    <input type="text" class="form-control" id="title" name="title" placeholder="问题标题……">
                </div>
                <div class="form-group">
                    <label for="description">问题补充（必填，参考右边提示）：</label>
                    <textarea name="description" id="description" class="form-control" cols="30" rows="10"></textarea>
                </div>
                <div class="form-group">
                    <label for="tag">添加标签：</label>
                    <input type="text" class="form-control" id="tag" name="title" placeholder="输入标签,以,号分割……">
                </div>
                <button type="submit" class="btn btn-success">发布</button>
            </form>
        </div>
        <div class="col-4"  >
            <h3>问题发起指南</h3>
            ·问题标题：用精简语言描述问题，不超过25字
            ·问题补充：详细内容，并提供相关资料
            ·选择标签：用逗号分隔，每个标签不超过10个字
        </div>

    </div>
</div>
</body>
</html>