<!DOCTYPE html>
<!--suppress ALL-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>community</title>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" href="/css/community.css">
    <script src="/js/community.js"></script>
    <link rel="stylesheet" type="text/css" href="/font-awesome/css/font-awesome.css">
    <script src="/js/editormd.js"></script>
    <script src="/lib/marked.min.js"></script>
    <script src="/lib/prettify.min.js"></script>

<body>
<div th:insert="~{navigation :: nav}"></div>

<div class="container-fluid main">
    <div class="row">
        <div class="col-9">
            <h3><span th:text="${question.title}"></span></h3>
            <span class="text-desc">
                作者：<span th:text="${question.user.name}"></span> |
                发布时间：<span th:text="${#dates.format(question.gmtCreate,'yyyy-MM-dd HH:mm')}"></span> |
                阅读数： <span th:text="${question.viewCount}"></span>
            </span>
            <!--编辑-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <a th:href="@{'/publish/'+${question.id}}" class="community-menu"
                   th:if="${session.user != null && session.user.id == question.creator}">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true">编辑</span>
                </a>
            </div>
            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <!--内容-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="question-view">
                <textarea style="display:none;" th:text="${question.description}"></textarea>
            </div>
            <script type="text/javascript">
                $(function () {
                    editormd.markdownToHTML("question-view", {});
                });
            </script>

            <!--            标签-->
            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <span class="lable label-info question-tag" th:each="tag:${question.tag.split(',')}">
                    <span class="fa fa-hashtag" aria-hidden="true"></span>
                    <span class="lable label-info question-tag" th:text="${tag}"></span>
                </span>
            </div>

            <!--回复-->
            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>
                    <span th:text="${question.commentCount}"></span> 个回复
                </h4>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comment-sp">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comments" th:each="comment : ${comments}">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object img-rounded"
                                     th:src="${comment.user.avatarUrl}">
                            </a>
                        </div>
                        <div class="media-body" th:id="${'comment-body-'+comment.id}">
                            <h5 class="media-heading">
                                <span th:text="${comment.user.name}"></span>
                            </h5>
                            <div th:text="${comment.content}"></div>
                            <div class="menu">
                                <span class="fa fa-thumbs-o-up icon"></span>
                                <span th:da qta-id="${comment.id}"
                                      data-parent="${'comment-'+comment.id}" onclick="collapseComments(this)"
                                      class="comment-icon ">
                                    <span class="fa fa-twitch"></span>
                                    <span th:text="${comment.commentCount}"></span>
                                </span>
                                <span class="float-right"
                                      th:text="${#dates.format(comment.gmtCreate,'yyyy-MM-dd')}"></span>
                            </div>

                            <!--二级评论-->
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sub-comments collapse"
                                 th:id="${'comment-'+comment.id}">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <input type="text" class="form-control" placeholder="评论一下……"
                                           th:id="${'input-'+comment.id}">
                                    <button type="button" class="btn btn-success float-right" onclick="comment(this)"
                                            th:data-id="${comment.id}">评论
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--            留下评论-->
<!--            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comment-sp">-->
            <div><h4>提交回复</h4></div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="comment_section">
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-rounded"   th:src="${session.user != null ? session.user.avatarUrl : '/img/用户.png'}" alt="">
                        </a>
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading"><span th:text="${session.user != null ? session.user.name : '匿名用户'}"></span></h5>
                    </div>
                </div>
                <input type="hidden" id="question_id" th:value="${question.id}">
                <textarea class="form-control comment" id="comment_content" cols="30" rows="10"></textarea>
                <button class="btn btn-comment btn-success" onclick="post()">回复</button>
            </div>

        </div>

        <!--发起人-->
        <div class="col-3">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h5>发起人</h5>
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-rounded "
                                 th:src="${question.user.avatarUrl}">
                        </a>
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading">
                            <span th:text="${question.user.name}"></span>
                        </h5>
                    </div>
                </div>
            </div>

<!--            这里是一张图片-->
            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h5>这里广告/微信啥的</h5>
                <img class="img-thumbnail question-wechat" src="/img/ad.png"/>
            </div>

            <!--            相关问题-->
            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-12">
                <h5>相关问题</h5>
                <ul class="question-related">
                    <li th:each="related : ${relatedQuestions}">
                        <a th:href="@{'/question/'+ ${related.id}}" th:text="${related.title}"></a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>
<div th:insert="~{footer :: foot}"></div>
</body>
</html>