<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>publish-community</title>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" href="/css/community.css">
    <script src="/static/js/community.js"></script>
</head>
<body>
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item" th:if="${pageInfo.isFirstPage()}">
            <a class="page-link" aria-label="Previous" href="/?pageNum=1">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li th:if="${pageInfo.hasPreviousPage}" class="page-item">
            <a th:href="@{/(pageNum=${pageInfo.pageNum-1})}" class="page-link">&lt;</a>
        </li>

        <li th:each="pageNum:${pageInfo.getNavigatepageNums()}" th:class="${pageInfo.pageNum==pageNum}?'active':''">
            <a th:href="@{/(pageNum=${pageNum})}" th:text="${pageNum}" class="page-link">
            </a>
        </li>

        <li class="page-item" th:if="${pageInfo.hasNextPage}"><a th:href="@{/(pageNum=${pageInfo.pageNum+1})}"
                                                              class="page-link">&gt;</a></li>
        <li class="page-item" th:if="${pageInfo.isLastPage()}">
            <a th:href="@{/(pageNum=${pageInfo.getNavigatePages()})}" class="page-link" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
</body>
</html>